torch
torchaudio
torchvision
transformers>=4.40.0
sentence-transformers
wtpsplit>=2.0.0
nltk
multi-rake
yake
symspellpy
rapidfuzz
streamlit
streamlit-pdf-viewer
opencv-python-headless
pdf2image
pytesseract
unstructured[all-docs]
llama-index-core
llama-index-embeddings-huggingface
llama-index-vector-stores-qdrant
llama-index-retrievers-bm25
llama-index-llms-huggingface
llama-index-multi-modal-llms-openai